<h1>Journal Entries</h1>

<table>
  <thead>
    <tr>
      <th>Date Created</th>
      <th>Title</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'entry', collection: @entries %>
  </tbody>
</table>

<p>
  <%= link_to 'New Journal Entry', new_entry_path %> |
  <%= link_to 'See All Categories', categories_path %>
</p>
